@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Identity.Models
@using Identity.Data

<h1>Product Management</h1>
<br />

 
<button class="btn btn-warning">Modify</button>
 
